<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />

    <xacro:include filename="gazebo_control.xacro" />

    <xacro:include filename="lidar.xacro" />
    
    <!-- <xacro:include filename="camera.xacro" /> /At one time one camera is active choose btw normal and depth camera/ -->

    <xacro:include filename="depth_camera.xacro" />
    
</robot>